<!DOCTYPE html>
<html>
  <head lang="en">
  <meta charset="UTF-8">
  <script language="JavaScript">
    function showInput() {
        document.getElementById('display').innerHTML = document.getElementById("user_name").value;
        document.getElementById('display').innerHTML = document.getElementById("user_email").value;
        document.getElementById('display').innerHTML = document.getElementById("user_password").value;
    }
  </script>
  </head>
<body>
  <form>
    <label><b>Enter your name</b></label>
    <input type="text" name="name" id="#user_name">
    <label><b>Enter email-id</b></label>
    <input type="email" name="email-id" id="#user_email">
    <label><b>Enter Password</b></label>
    <input type="password" name="Password" id="#user_password">
  </form>
  <input type="button" value="submit" onclick="showInput();"><br/>
  <label>The form details are: </label>
  <p><span id="#display"></span></p>
</body>
</html>