<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
               <label class="form-label" for="form">First name</label>
               <input type="text" id="firstname" class="form-control" />
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <label class="form-label" for="form">Last name</label>
              <input type="text" id="lastname" class="form-control" />
            </div>
          </div>
        </div>
        <div class="form-outline mb-4">
          <label class="form-label" for="form">Email address</label>
          <input type="email" id="emailid" class="form-control" />
        </div>
        <div class="form-outline mb-4">
          <label class="form-label" for="form">Password</label>
          <input type="password" id="password" class="form-control" />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="form">Confirm Password</label>
            <input type="password" id="confirmpassword" class="form-control" />
        </div>
        <div class="form-check d-flex justify-content-center mb-4">
          <input
            class="form-check-input me-2"
            type="checkbox"
            value=""
            id="checkbox"
            checked
          />
          <label class="form-check-label" for="form">
            Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
      </form>
</body>
</html>